* {
    margin: 0;
    padding: 0;
    font-size: small;
    font-weight: lighter;
    box-sizing: border-box;

}
@font-face {
    font-family: 'Sora-Bold';
    src: url('../fonts/Sora-Bold.ttf');
    
}
@font-face {
    font-family: 'Sora-Light';
    src: url('../fonts/Sora-Light.ttf');
    
}
@font-face {
    font-family: 'Sora-Medium';
    src: url('../fonts/Sora-Medium.ttf');
    
}
@font-face {
    font-family:'Sora-Regular' ;
    src: url('../fonts/Sora-Regular.ttf');
    
}
html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
body {
    width: 100%;
}
img {
    display: block;
    width: 100%;
}
a {
    text-decoration: none;
    font-family: "Sora-Regular";
}
ul , ol {
    list-style: none;
    font-family: "sora-regular";
}
h1 , h2 , h3 , h4 , h5 {
    font-family: "Sora-Regular";
}
p {
    font-family: "sora-regular";
}
.wrapper {
    width: 88%;
    margin: 0 auto;
    overflow: hidden;
} 
header {
    padding: 20px 20px 10px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
header .left {
    display: flex;
    align-items: center;
    gap: 10px;
}
header .left .logo {

}
header .left h5 a {
    text-decoration: none;
    color: #000;
}
header .right {
    padding-bottom: 0px;
}
header .right ul {
    list-style: none;
    display: flex;
    gap: 20px;
    /*float: right;*/
}
header .right ul li a {

}
header .right ul li a.one button {
    background-color: #fff;
    color: #000;
    border: 1px solid #000;
    padding: 5px 10px;
}
header .right ul li a button {
    background-color: darkslategray;
    color: #fff;
    border: 1px solid#000;
    padding: 5px 10px;
}
#spotlight {
    width: 100%;
    /*padding: 5rem 0px 0rem 0rem;*/
    display: flex;
    align-items: center;
    overflow: hidden;
}
#spotlight .wrapper {
    width: 88%;
    padding: 10px 10px 20px 10px;
}
#spotlight .wrapper .spotlight-container{
    display: flex;
    /*height: 100vh;*/
    align-items: center;
}
#spotlight .wrapper .left {
    padding: 80px 0px 80px 0px; 
    width: 80%;
    
}
#spotlight .wrapper .left h3 {
    font-size: 40px;
    font-weight: bold;
}
#spotlight .wrapper .left p {
    padding-top: 20px;
    font-size: medium;
}
#spotlight .wrapper .left button {
    margin-top: 30px;
    border: 0px solid black;
    padding: 15px 20px;
    border-radius: 10px;
    background-color: rgb(124, 162, 231);
    color: #fff;
}
#spotlight .wrapper .right {
    width: 80%;
    display: flex;
    justify-content: space-around;
}
#spotlight .wrapper .right span {
    width: 90%;
    padding: 10px 20px 10px 50px;
}

 /*content style starts here*/

#content {
    background-color:rgb(248, 250, 252);
    width: 100%;
    height: 20vh;
}
#content .wrapper {
    padding: 0px 0px 0px 1px;
}
#content .wrapper ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    position: relative;
}
#content .wrapper ul li {
    line-height: 2rem;
    padding-top: 2rem;
}
#content .wrapper ul li h3 {
    text-align: center;
    font-size: 22px;
    font-weight: bold;
}
#content .wrapper ul li h1 {
    font-size: 13px;
}
#content .wrapper ul li .one{
    position: absolute;
    top: 29px;
    left: 290px;
}
#content .wrapper ul li .two {
    position: absolute;
    top: 29px;
    left: 680px;
}
#content .wrapper ul li .three {
    position: absolute;
    top: 29px;
    left: 1070px;
}

#session {
    width: 100%;
}
#session .wrapper {

}
#session .wrapper .top {
    display: flex;
    justify-content: space-between;
    padding-top: 4rem;
}
#session .wrapper .top h1 a {
    color: #000;
    font-size: 25px;
}
#session .wrapper .top h5 a {
    color:deepskyblue
}
#session .bottom{
    padding: 3rem 0rem;
}
#session .bottom ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#session .bottom ul li {
    width: 23%;
    flex-direction: column;
    align-items: center;
    display: flex;
    padding: 3rem;
    margin-right: 10px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin-left: 10px;
}
#session .bottom ul li span {
    border-radius: 28px;
    background-color: #c0d7fc;
    padding: 10px;
}
#session .bottom ul li a {
    color: #000;
    margin-top: 3rem;
}
#session .bottom ul li a h1 {
    font-size: 15px;
    line-height: 1rem;
}
#session .bottom ul li a h4 {
    line-height: 2rem;
}

 /* session style ends here*/

#course {
    width: 100%;
}
#course .wrapper {

}
#course .wrapper .top {
    display: flex;
    justify-content: space-between;
    padding-top: 4rem;
}
#course .wrapper .top h1 a {
    color: #000;
    font-size: 25px;
}
#course .wrapper .top h5 a {
    color: deepskyblue;
}
#course .wrapper .bottom {
    padding: 4rem 0rem;
    width: 100%;
}
#course .wrapper .bottom ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#course .wrapper .bottom ul li {
    width: 23%;
    flex-direction: column;
    display: flex;
    padding: 1rem;
    margin-right: 10px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin-left: 10px;
    height: max-content;
    line-height: 2rem;
}
#course .wrapper .bottom ul li .image1 {
    margin-bottom: 25px;
}
#course .wrapper .bottom ul li h2 a {
    font-size: 16px;
    color: #000;
}
#course .wrapper .bottom ul li h3 a {
    color: #000;
    font-size: 16px;
}
#course .wrapper .bottom ul li .image2 {
    color: #000;
    width: 45%;
}
#course .wrapper .bottom ul li h4 a{
    color: #000;
    font-size: 16px;
}
#course .wrapper .bottom ul li h1 a {
    font-weight: bold;
    font-size: 17px;
    color: #000;
}
#course .wrapper .bottom ul li p a {
    color: #000;
}

 /*department style starts here*/

 #department {
    padding: 1rem;
    width: 100%;
 }
#department .wrapper {
    width: 88%;
    margin: 0 auto;
}
#department .wrapper .top {
    display: flex;
    justify-content: space-between;
    padding-top: 4rem;
}
#department .wrapper .top h1 a {
    color: #000;
    font-size: 25px;
}
#department .wrapper .top h5 a {
    color: deepskyblue
}
#department .wrapper .bottom {
    padding: 4rem 0rem;
    width: 100%;
}
#department .wrapper .bottom ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#department .wrapper .bottom ul li {
    width: 23%;
    flex-direction: column;
    display: flex;
    padding: 2rem;
    margin-right: 10px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin-left: 10px;
    height: max-content;
    line-height: 2rem;
    text-align: center;

}
#department .wrapper .bottom ul li .image1 {

}
#department .wrapper .bottom ul li h2 a {
    color: #000;
    font-size: 17px;
}
#department .wrapper .bottom ul li h3 a {
    color: #000;
}
#department .wrapper .bottom ul li .image2 {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}
#department .wrapper .bottom ul li .image2 h4 a {
    color: #000;
}
#department .wrapper .bottom ul li h5 a {
    color: #000;
    margin-right: 7rem;
}

 /* department style ends here */

 /* about style starts here */

#about {
    background-color: rgb(248, 250, 252);
    padding: 1rem;
    width: 100%;
}
#about .wrapper {

}
#about .wrapper .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 4rem;
}
#about .wrapper .top h1 a {
    color: #000;
    font-size: 25px;
    font-weight: bold;
}
#about .wrapper .top .review {
    
}
#about .wrapper .top .review a {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}
#about .wrapper .bottom {
    padding: 4rem 0rem;
    width: 100%;
}
#about .wrapper .bottom ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#about .wrapper .bottom ul li {
    width: 30%;
    flex-direction: column;
    display: flex;
    padding: 2rem;
    margin-right: 10px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin-left: 10px;
    height: max-content;
    background-color: #fff;
}
#about .wrapper .bottom ul li .one {
    width: 10%;
}
#about .wrapper .bottom ul li .one a {
    
}
#about .wrapper .bottom ul li p {
    margin-top: 1rem;
    line-height: 25px;
    
}
#about .wrapper .bottom ul li .two {
    margin-top: 1rem;
    width: 20%;
}
#about .wrapper .bottom ul li .two a {
    display: flex;
    text-align: center;
    gap: 2rem;
}
#about .wrapper .bottom ul li .two a h1 {
    margin-top: 1rem;
    color: #000;
}

 /* about style ends here */



#create {
    width: 100%;
}
#create .wrapper {
    width: 88%;
    margin: 0 auto;
    padding: 0px;
}
#create .wrapper .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#create .wrapper .top .left {

}
#create .wrapper .top .right {
    width: 50%;
    line-height: 30px;
}
#create .wrapper .top .right h1 {
    font-size: 25px;
} 
#create .wrapper .top .right button {
    background-color: #000;
    color: #fff;
    border: 0px solid #000;
    padding: 18px 60px;
    border-radius: 11px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#create .wrapper .top .right button a {
    text-decoration: none;
    color: #fff;

}
#create .wrapper .top .right button span {
    width: 10%;
}
#create .wrapper .bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4rem;
}
#create .wrapper .bottom .left {
    width: 50%;
    line-height: 30px;
}
#create .wrapper .bottom .left h1 {
    font-size: 25px;
}

#create .wrapper .bottom .left button {
    background-color: #000;
    color: #fff;
    border: 0px solid #000;
    padding: 18px 60px;
    border-radius: 11px;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#create .wrapper .bottom .left button span {
    width: 10%;
}
#create .wrapper .bottom .left button a {
    text-decoration: none;
    color: #fff;
}
#create .wrapper .bottom .right {
    width: 50%;
}
footer {
    background-color: #141c35;
    min-height: 50vh;
    display: flex;
    padding: 3rem;
    width: 100%;
}
footer .wrapper {
    display: flex;
    justify-content: space-between;
    width: 88%;
}
footer .wrapper .left {
    margin-right: 12rem;
} 
footer .wrapper .left .byway {
    display: flex;
    align-items: center;
}
footer .wrapper .left .byway h1 a {
    color: #fff;
    font-size: 20px;
}
footer .wrapper .left p {
    color: #fff;
    line-height: 20px;
    font-size: 13px;
    margin-top: 2rem;
}
footer .wrapper .footer {
    display: flex;
    justify-content: space-between;
    margin: 1rem;
    gap: 3rem;
}
footer .wrapper .footer ul {
   line-height: 2rem;
}
footer .wrapper .footer ul li {

}
footer .wrapper .footer ul li h1 a {
    color: #fff;
    font-size: 20px;
}
footer .wrapper .footer ul li a {
    color: #fff;
    font-size: 14px;
}
footer .wrapper .footer ul li span {
    display: flex;
    justify-content: space-between;
    width: 70%;
    gap: 1rem;
}   
footer .wrapper .footer ul li span a .facebook {
    background-color: #fff;
    border-radius: 53px;
    padding: 5px;
}
footer .wrapper .footer ul li span a .github {
    background-color: #fff;
    border-radius: 53px;
    padding: 5px;
}
footer .wrapper .footer ul li span a .twitter {
    background-color: #fff;
    border-radius: 53px;
    padding: 5px;
}
footer .wrapper .footer ul li span a .microsoft {
    background-color: #fff;
    border-radius: 53px;
    padding: 5px;
}

@media screen and (max-width: 1440px) {
    #content {
        height: 15vh;
    }
    #department .wrapper .bottom ul li h5 a {
        margin-right: 8rem;
    }
    #about .wrapper .bottom ul li p {
        line-height: 17px;
    }
    footer .wrapper .footer ul li span {
        width: 86%;
        gap: 5px;
        margin-top: 2rem;
    }
    footer .wrapper .footer {
        width: 100%;
    }
}
@media screen and (max-width: 1280px){
    #course .wrapper .bottom ul li h2 a {
        font-size: 14px;
    }
    #course .wrapper .bottom ul li h3 a {
        font-size: 13px;
    }
    #department .wrapper .bottom ul li h5 a {
        margin-right: 4rem;
    }
    footer .wrapper .footer {
        width: 160%;
    }
    footer .wrapper .footer ul li span {
        margin-top: 2rem;
    }
}
@media screen and (max-width: 1080px) {
    #spotlight .wrapper .left h3 {
        font-size: 38px;
        font-weight: bold;
    }
    #department .wrapper .bottom ul li h5 a {
        margin-right: 3rem;
    }
    footer .wrapper {
        width: 103%;
    }
    footer .wrapper .footer ul li span {
        margin-top: 2rem;
    }
}
@media screen and (max-width: 980px) {
    #spotlight .wrapper .left h3 {
        font-size: 30px;
        font-weight: bold;
    }
    #spotlight .wrapper .right span {
        padding: 80px 0px 80px 0px;
        width: 88%;
    }
    #spotlight .wrapper .left p {
        font-size: 13px;
    }
    #content .wrapper ul li h1 {
        font-size: 11px;
    }
    #session .bottom ul li {
        margin-left: 7px;
        margin-right: 7px;
    }
    #department .wrapper .bottom ul {
        flex-wrap: wrap;
        gap: 20px;
    }
    #department .wrapper .bottom ul li {
        width: 45%;
    }
    #department .wrapper .bottom ul li h5 a {
        margin-right: 9rem;
    }
    #course .wrapper .bottom ul {
        flex-wrap: wrap;
        gap: 20px;
    }
    #course .wrapper .bottom ul li {
        width: 45%;
    }
    #about .wrapper .bottom ul li .two {
        width: 32%;
    }
    #create .wrapper .top .right {
        width: 56%;
        line-height: 27px;
        padding: 3rem;
    }
    #create .wrapper .top .right {
        width: 56%;
        line-height: 27px;
        padding: 3rem;
    }
    footer .wrapper {
        flex-direction: column;
    }
    footer .wrapper .footer {
        width: 90%;
        margin-top: 2rem;
        margin-left: 0rem;
    }
    footer .wrapper .footer ul li span {
        margin-top: 2rem;
    }
}
@media screen and (max-width: 768px) {
    #spotlight .wrapper .right span {
        display: none;
    }
    #spotlight .wrapper .left h3 {
        font-size: 34px;
    }
    #spotlight .wrapper .left {
        width: 190%;
    }
    #spotlight .wrapper .left p {
        font-size: 16px;
    }
    #content .wrapper ul li h1 {
        font-size: 9px;
    }
    #content .wrapper ul li h3 {
        font-size: 18px;
    }
    #session .bottom ul li {
        width: 46%;
    }
    #session .bottom ul {
        flex-wrap: wrap;
        gap: 10px;
    }
    #course .wrapper .bottom ul {
        flex-wrap: wrap;
        gap: 20px;
    }
    #course .wrapper .bottom ul li {
        width: 43%;
    }
    #department .wrapper .bottom ul li {
        width: 44%;
    }
    #department .wrapper .bottom ul li h5 a {
        margin-right: 6rem;
    }
    #about .wrapper .bottom ul {
        flex-wrap: wrap;
        gap: 13px;
    }
    #about .wrapper .bottom ul li {
        text-align: center;
        width: 125%;
    }
    #about .wrapper .bottom ul li p {
        line-height: 22px;
        font-size: 16px;
    }
    #about .wrapper .bottom ul li .two {
        width: 24%;
    }
    #about .wrapper .bottom ul li .one {
        width: 7%;
    }
    #create .wrapper .top .right {
        width: 112%;
        line-height: 23px;
    }
    #create .wrapper .top .right button {
        padding: 11px 34px;
    }
    #create .wrapper .bottom {
        padding: 2rem;
    }
    #create .wrapper .bottom .left {
        width: 63%;
        line-height: 27px;
    }
    #create .wrapper .bottom .right {
        width: 52%;
    }
    footer .wrapper .footer ul li span {
        width: 114%;
    }
    footer .wrapper {
        flex-direction: column;
    }
    footer .wrapper .footer {
        align-items: unset;
        gap: 2rem;
        margin-top: 3rem;
        width: 97%;
    }
    footer .wrapper .footer ul li span {
        width: 63%;
        margin-top: 2rem;
    }
}
@media screen and (max-width: 640px) {
    #spotlight .wrapper .left {
        width: 190%;
    }
    #spotlight .wrapper .left h3 {
        font-size: 29px;
    }
    #about .wrapper .bottom ul li p {
        line-height: 21px;
        font-size: 15px;
    }
    #spotlight .wrapper .left p {
        font-size: 15px;
    }
    #content .wrapper ul li h1 {
        font-size: 10px;
    }
    #content .wrapper ul li h3 {
        font-size: 15px;
    }
    #course .wrapper .bottom ul li {
        width: 43%;
    }
    #create .wrapper .bottom .right {
        display: none;
    }
    #create .wrapper .top .left {
        display: none;
    }
    #create .wrapper .bottom .left h1 {
        font-size: 20px;
        font-weight: bold;
    }
    #create .wrapper .bottom {
        padding: 3rem;
    }
    #create .wrapper .bottom .left {
        width: 83%;
        line-height: 27px;
    }
    #department .wrapper .bottom ul li {
        width: 94%;
    }
    #department .wrapper .bottom ul li .image2 {
        width: 15%;
    }
    #department .wrapper .bottom ul li h5 a {
        margin-right: 21rem;
    }
    #create .wrapper .bottom .left button {
        align-items: center;
        text-align: center;
        justify-content: space-between;
        padding: 15px 71px;
    }
    #create .wrapper .top .right h1 {
        font-size: 22px;
        font-weight: bold;
    }
    #create .wrapper .top .right button {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    footer .wrapper .footer {
        gap: 3rem;
        width: 105%;
        flex-direction: column;
        margin-left: 0rem;
    }
    footer .wrapper .footer ul li span {
        width: 45%;
        margin-top: 2rem;
    }
    #content .wrapper ul {
        flex-wrap: wrap;
    }
    #content .wrapper ul li {
        width: 40%;
        text-align: center;
    }
    #content {
        height: 30vh;
    }
}
@media screen and (max-width:540px) {
    #spotlight .wrapper .left p {
        font-size: 13px;
    }
    #spotlight .wrapper .left h3 {
        font-size: 26px;
    }
    #spotlight .wrapper .right span {
        width: 90%;
        padding: 5px 12px 10px 13px;
    }
    #spotlight .wrapper .left button {
        padding: 8px 10px;
    }
    #session .bottom ul li {
        width: 102%;
    }
    #create .wrapper .top .right button {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    #create .wrapper .bottom .left button {
        padding: 14px 40px;
        align-items: center;
        justify-content: space-between;
    }
    #course .wrapper .bottom ul li {
        width: 112%;
    }
    #about .wrapper .bottom ul li p {
        line-height: 24px;
        font-size: 13px;
    }
    #department .wrapper .bottom ul li h5 a {
        margin-right: 17rem;
    }
    #about .wrapper .top .review a {
        margin-right: 20px;
    }
    footer .wrapper {
        display: block;
    }
    footer .wrapper .footer {
        width: 93%;
        margin-left: 0rem;
    }
}
@media screen and (max-width: 480px) {
    #department .wrapper .bottom ul li h5 a {
        margin-right: 9rem;
    }
    #about .wrapper .bottom ul li p {
        line-height: 16px;
        font-size: 11px;
    }
    #about .wrapper .top h1 a {
        font-size: 16px;
    }
    #about .wrapper .top .review {
        width: 19%;
    }
    #about .wrapper .top .review a {
        margin-right: 37px;
    }
    #create .wrapper .top .right button {
        padding: 10px 13px;
        display: flex;
        align-items: center;
    }
    #create .wrapper .top .right {
        line-height: 26px;
    }
    #create .wrapper .bottom .left h1 {
        font-size: 15px;
        font-weight: bold;
    }
    #create .wrapper .bottom .left {
        width: 102%;
        line-height: 22px;
    }
    #create .wrapper .bottom .left button {
        padding: 11px 41px;
    }
    #content .wrapper ul li h1 {
        font-size: 8px;
    }
    #content .wrapper ul li h3 {
        font-size: 10px;
    }
    #spotlight .wrapper .left p {
        font-size: 13px;
    }
    #spotlight .wrapper .left h3 {
        font-size: 19px;
    }
}